.main-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1 1 auto;
}

.container {
  @include container();
  @include xl-block() {
    padding-right: 30px;
    padding-left: 30px;
  }
  @include sm-block() {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.base-btn {
  display: inline-block;
  padding: 8px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  color: #ffffff;
  background-color: #ffb500;
  border: 1px solid #ffb500;
  border-radius: 10px;
  transition: $base-transition;

  &:hover {
    background-color: transparent;
  }

  &--show-more {
    position: relative;
    width: 180px;
    text-align: left;

    &:hover {
      background-color: #ffb500;
    }

    &:hover::after {
      right: 12px;
    }

    &::after {
      content: url("../img/svg/arrow-right.svg");
      position: absolute;
      top: 50%;
      right: 20px;
      width: 8px;
      height: 20px;
      transform: translateY(-50%);
      transition: $base-transition;
    }
  }
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include md-block() {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include md-block() {
      width: 50%;
      margin-bottom: 30px;
      text-align: left;
      // border: 1px solid #000;
    }
  }

  &__link {
    position: relative;
    padding: 0 50px;
    white-space: nowrap;
    color: inherit;
    transition: $base-transition;

    @include xs-block() {
      font-size: 14px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 5px;
      width: 30px;
      height: 30px;
    }

    &:hover {
      color: #71b220;
    }

    &--web::before {
      content: url("../img/svg/web.svg");
    }

    &--mail::before {
      content: url("../img/svg/mail.svg");
    }

    &--skype::before {
      content: url("../img/svg/skype.svg");
    }

    &--telegram::before {
      content: url("../img/svg/telegram.svg");
    }
  }
}
