.main-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1 1 auto;
}

.container {
  @include container();
}

.base-btn {
  display: inline-block;
  padding: 8px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  color: #ffffff;
  background-color: #ffb500;
  border: 1px solid #ffb500;
  border-radius: 10px;
  transition: $base-transition;

  &:hover {
    background-color: transparent;
  }

  &--show-more {
    position: relative;
    width: 180px;
    text-align: left;

    &:hover {
      background-color: #ffb500;
    }

    &:hover::after {
      right: 12px;
    }

    &::after {
      content: url("../img/svg/arrow-right.svg");
      position: absolute;
      top: 50%;
      right: 20px;
      width: 8px;
      height: 20px;
      transform: translateY(-50%);
      transition: $base-transition;
    }
  }
}
