.footer {
  background-color: #2a2a2a;
  background-image: url("../img/svg/lines.svg");
  background-repeat: no-repeat;
  background-position: center;

  @include lg-block() {
    padding: 20px;
  }

  @include md-block() {
    padding-bottom: 0;
  }

  &__wrap {
    @include row-flex();

    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @include md-block() {
      flex-wrap: wrap;
      text-align: center;
    }
  }

  &__logo {
    img {
      width: 82px;
      height: 60px;
    }

    @include md-block() {
      flex-grow: 1;
      margin-bottom: 30px;
    }
  }

  &__second-logo {
    img {
      width: 90px;
      height: 102px;
    }

    @include lg-block() {
      display: none;
    }
  }
}
